@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.eot');
    src: url('./fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./fonts/OpenSans-Regular.woff') format('woff'),
    url('./fonts/OpenSans-Regular.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{background: red;font-family: 'Open Sans';}